/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
html, body{
	font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(../images/background.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
h1,h2,h3,h4,h5,h6,input,p,a,select{
	font-family: 'Montserrat', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover,body a{
	text-decoration:none;
}
/*-- main --*/
.agileits_copyright{
	text-align: center;
}
.agileits_copyright p{
	font-size: 1em;
    color:#fff;
    line-height: 1.8em;
    padding: 0 1em;
    text-transform: capitalize;
}
.agileits_copyright p a {
    color:#95f216;
    text-decoration: none;
}
.agileits_copyright p a:hover{
	color:#fff;
}
input[type="submit"],.agileits_copyright p a{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
.main{
	padding:3em 0;
}
.main h1{
	text-align: center;
    color:#000;
    font-size:3em;
    margin-bottom:3em;
	text-transform:capitalize;
}
pre {
    display: none;
}
div#countdown-2 {
    padding:0 0 1em;
}
.w3layouts_hours_grids{
    width: 50%;
    margin: 0 auto;
	position:relative;
}
.w3layouts_hours_grid_left {
    position:absolute;
	bottom:0%;
	left:16%;
}
.w3layouts_hours_grid_left_w3{
	position:absolute;
	bottom:0%;
	left:41%;
}
.w3layouts_hours_grid_left_w3l {
    position:absolute;
	bottom:0%;
	left:62%;
}
.w3layouts_hours_grid_left_w3ls{
	position:absolute;
	bottom:0%;
	left:83%;
}
.w3layouts_hours_grids p{
	font-size:1em;
	color:#fff;
}
.agileits_newsletter{
	text-align:center;
	padding:3em 0 6em;
}
.agileits_newsletter h2{
	font-size: 1.5em;
    color: #95f216;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.agileits_newsletter input[type="email"]{
	outline: none;
    padding: 15px;
    color: #212121;
    font-size: 14px;
    width:67.2%;
    float: left;
    background: #fff;
    border: none;
}
.agileits_newsletter input[type="submit"]{
	outline: none;
    padding: 15px 0;
    color: #212121;
    font-size: 14px;
    text-transform: uppercase;
    width: 28%;
    background: #95f216;
    border: none;
    cursor: pointer;
}
.agileits_newsletter {
    width: 40%;
    margin: 0 auto;
}
/*-- start-responsive-design --*/
@media (max-width:1440px){
	.agileits_newsletter {
		width: 44%;
	}
}
@media (max-width:1366px){
	.w3layouts_hours_grid_left_w3ls {
		left: 90%;
	}
	.w3layouts_hours_grid_left_w3l {
		left: 64%;
	}
	.w3layouts_hours_grid_left_w3 {
		left: 40%;
	}
	.w3layouts_hours_grid_left {
		left: 9%;
	}
	.agileits_newsletter {
		width: 46%;
	}
}
@media (max-width: 1280px){
	.agileits_newsletter {
		width: 49%;
	}
}
@media (max-width: 1080px){
	.w3layouts_hours_grid_left_w3ls {
		left: 103%;
	}
	.w3layouts_hours_grid_left_w3l {
		left: 69%;
	}
	.w3layouts_hours_grid_left_w3 {
		left: 37%;
	}
	.agileits_newsletter {
		width: 58%;
	}
}
@media (max-width: 1024px){
	.agileits_newsletter {
		width: 62%;
	}
}
@media (max-width: 991px){
	.agileits_newsletter {
		width: 63%;
	}
}
@media (max-width: 800px){
	.main h1 {
		font-size: 2.5em;
	}
	.w3layouts_hours_grids {
		width: 60%;
	}
	.w3layouts_hours_grid_left {
		left: 3%;
	}
	.w3layouts_hours_grid_left_w3l {
		left: 65%;
	}
	.w3layouts_hours_grid_left_w3ls {
		left: 94%;
	}
	.agileits_newsletter {
		width: 79%;
	}
}
@media (max-width: 768px){
	.agileits_newsletter {
		width: 82%;
	}
}
@media (max-width: 736px){
	.agileits_newsletter input[type="email"] {
		width: 66.9%;
	}
}
@media (max-width: 667px){
	.main h1 {
		font-size: 2.3em;
	}
	.agileits_newsletter {
		width: 91%;
	}
	.main h1 {
		margin-bottom: 2em;
	}
	.w3layouts_hours_grids p,.agileits_copyright p {
		font-size: 14px;
	}
}
@media (max-width: 640px){
	.main h1 {
		font-size: 2em;
	}
	div#countdown-2 {
		padding: 0 0 .5em;
	}
	.w3layouts_hours_grids {
		width: 67%;
	}
	.agileits_newsletter h2 {
		font-size: 1.3em;
	}
	.agileits_newsletter input[type="email"] {
		width: 66.6%;
	}
}
@media (max-width: 600px){
	.agileits_newsletter input[type="email"] {
		width: 66.3%;
	}
}
@media (max-width: 568px){
	.agileits_newsletter input[type="email"] {
		width: 65.8%;
	}
}
@media (max-width: 480px){
	.main h1 {
		font-size: 1.7em;
	}
	.agileits_newsletter input[type="email"] {
		width: 64.8%;
	}
	.agileits_newsletter h2 {
		font-size: 1.2em;
	}
	.w3layouts_hours_grids {
		width: 75%;
	}
	.w3layouts_hours_grid_left_w3l {
		left: 62%;
	}
	.w3layouts_hours_grid_left_w3ls {
		left: 89%;
	}
}
@media (max-width: 414px){
	.agileits_newsletter input[type="email"] {
		width: 63.8%;
	}
	.main h1 {
		margin-bottom: 3em;
	}
}
@media (max-width: 384px){
	.main {
		padding: 2em 0;
	}
	.w3layouts_hours_grids p, .agileits_copyright p {
		font-size: 13px;
	}
	.w3layouts_hours_grid_left_w3l {
		left: 61%;
	}
	.w3layouts_hours_grid_left_w3 {
		left: 35%;
	}
	.agileits_newsletter input[type="email"] {
		width: 63.03%;
	}
}
@media (max-width: 375px){
	.main h1 {
		font-size: 1.5em;
	}
	.agileits_newsletter h2 {
		font-size: 1em;
	}
	.agileits_newsletter {
		width: 95%;
	}
	.agileits_newsletter input[type="email"],.agileits_newsletter input[type="submit"] {
		font-size: 13px;
	}
	.agileits_newsletter input[type="email"] {
		width: 63.3%;
	}
}
@media (max-width: 320px){
	.main h1 {
		font-size: 1.4em;
		margin-bottom: 2em;
	}
	.w3layouts_hours_grid_left {
		left: 0%;
	}
	.w3layouts_hours_grid_left_w3 {
		left: 34%;
	}
	.w3layouts_hours_grid_left_w3l {
		left: 60%;
	}
	.w3layouts_hours_grid_left_w3ls {
		left: 88%;
	}
	.agileits_newsletter input[type="email"] {
		width: 93%;
		padding: 10px;
		float: none;
		margin-bottom:.5em;
		text-align:center;
	}
	.agileits_newsletter input[type="submit"] {
		width: 100%;
		padding: 10px 0;
	}
	.agileits_newsletter {
		padding: 2em 0 3em;
	}
	.agileits_newsletter h2 {
		font-size: .9em;
	}
}